/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #818181;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

/* UTILITIES */
.container {
    width: 1200px;
    margin: 0 auto;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.float {
    float: left;
}

.w-50 {
    width: 50%;
}

/* Button */
.btn {
    display: inline-block;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    min-width: 100px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.btn-green {
    background-color: #7cbc32;
    border: 1px solid transparent;
}

/* HEADER */
.main-header {
    height: 80px;
    background-color: #0d325b;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.main-header .container {
    line-height: 80px;
}

.main-header .logo {
    width: 15%;
}

.main-header img {
    vertical-align: middle;
}

.main-header .nav-center {
    width: 45%;
}

.nav-center li,
.nav-right li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

.nav-center li:last-child,
.nav-right li:last-child {
    margin-right: 0;
}

.main-header a {
    text-decoration: none;
    color: #fff;

}

.main-header .nav-right {
    width: 40%;
    text-align: right;
}

/* MAIN */
/* Banner */
.banner {
    height: 480px;
    background-color: #0d325b;
    background-image: url(../img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 130% 120%;
}

.banner .container {
    height: 100%;
    position: relative;
}

.banner .banner-text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.banner .text {
    color: #fff;
    font-size: 48px;
    margin-bottom: 20px;
}

.banner .fix {
    padding: 20px;
}

/* Text */
.background {
    display: block;
    height: 100px;
    background-color: #d3d3d3;
    text-align:center;
    padding: 20px;
}

.background h2 {
    color: #000;
    margin-bottom: 10px;
}

/* Tab */
.container .tab {
    width: calc(100%/3);
    height: 380px;
}

.tab.left .image {
    width: 100px;
    margin: 20px auto;
}

.tab.center .image {
    width: 170px;
    margin: 20px auto;
}

.tab.right .image {
    width: 120px;
    margin: 20px auto;
}

.tab h3 {
    text-align: center;
    font-size: 25px;
    color: #93c737;
    margin: 20px;
}

.tab hr {
    margin: 0 170px;
}

.tab p {
    margin: 20px;
    text-align: center;
}

section .gray {
    border: 1px solid #e5e5e5;
    margin: 0 20px;
}

/* Progress */
.image-progress img {
    width: 450px;
    padding: 30px;
}

.text-progress h2 {
    font-size: 28px;
    color: #000;
    margin-bottom: 10px;
}

.text-progress p {
    margin-bottom: 10px;
}

.text-progress a {
    font-size: 12px;
}
.text-progress {
    padding: 30px;
}







